:root {
  --primary-color: #007bff;
  --secondary-color: #4caf50;
  --error-color: red;
  --hover-color: #0056b3;
  --disabled-color: #ccc;
  --background-color: #f4f4f4;
}

* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  scroll-behavior: smooth;
}
.app {
  background-image: url("./assets/bg-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
